apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app-demo
  namespace: {{index path.segments 3}}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: node-app
  template:
    metadata:
      labels:
        app: node-app
    spec:
      containers:
      - name: node-app
        image: k8s.gcr.io/echoserver:1.4
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 100m
            memory: 128Mi
---
apiVersion: v1
kind: Service
metadata:
  name: node-app-service
  namespace: {{index path.segments 3}}
spec:
  selector:
    app: node-app
  ports:
  - port: 80
    targetPort: 8080
  type: ClusterIP
